@tailwind base;
@tailwind components;
@tailwind utilities;

.cover-heading {
  text-shadow: 2px 2px 5px #aaaaaa44;
}

.font-outline-1 {
  -webkit-text-stroke: 1px #363797;
}
.font-outline-2 {
  -webkit-text-stroke: 2px #363797;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --chart-1: #86198f;
    --chart-2: #d97706;
    --chart-3: #22c55e;
    --chart-4: #be123c;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
