.cover {
    color: white;
    font-family: 'deacon', sans-serif;
}

.main {
    color: white;
    font-family: 'deacon-bold', sans-serif;
}

.cover {
    background: url("../../../public/noise-light.png");
    background-color: #161616;
}