.timeline::after {
    content: '';
    position: absolute;
    background-color: #272757;
    margin: -1px;
    width: 3px;
    left : 50%;
    z-index: 0;
    animation: line-height-animate linear;
    animation-timeline: scroll();
}

@keyframes line-height-animate {
    from {
        height: 5%;
    }

    to {
        height: 100%;
    }
}

@media (min-width: 764px){
    .box-left {
        animation: fade-in-left 1s ease-in forwards;
        animation-timeline: view();
        animation-range: entry 0;
        z-index: 10;
    }
}

.box-right {
    animation: fade-in-right 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0;
    z-index: 10;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}